.form-control {
    transition: .2s ease box-shadow;
}

#main {
    
    transition: margin .3s ease-out;
}

.user-name {
    h6 {
        margin-top: 3px;
    }
    p {
        font-size: 0.74em;
    }
}

.footer {
    margin-top: 5rem;
}